.toggle-button {
  cursor: pointer;
  touch-action: manipulation;

  --size: 42px;
  aspect-ratio: 1 / 1;
  width: var(--size);

  border-radius: 6px;
  border: var(--border-1);

  background-color: var(--bg-p-2);

  display: grid;
  place-items: center;

  .lucide {
    color: var(--color-1);
    --size: 22px;
  }
}
