.toggle-button {
  cursor: pointer;
  touch-action: manipulation;

  --size: 42px;
  aspect-ratio: 1 / 1;
  width: var(--size);

  border-radius: 6px;
  border: var(--border-1);

  background-color: var(--background-p-2);

  display: grid;
  place-items: center;

  i {
    color: var(--color-1);
    font-size: 18px;
  }
}
