#question-control {
  position: sticky;

  flex-shrink: 0;

  height: fit-content;
  width: 100%;

  padding: 6px;

  border-top: var(--border-1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  > #separator-div {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.question-control-btn {
  cursor: pointer;
  touch-action: manipulation;

  height: 36px;
  width: fit-content;
  min-width: 80px;

  padding: 4px;

  border: var(--border-1);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  &:last-child {
    flex-direction: row-reverse;
  }
}
