:root {
  --accent-color-1: #ffdb0f;

  --background-1: #12115e;

  --border-1: 1px solid #afafaf;
}

[data-theme="light"] {
  --color-1: #1f2328;
  --color-2: #59636e;

  --bg-p-1: #ffffff;
  --bg-p-2: #f6f8fa;
  --bg-p-3: #eceef0;

  --bg-s-1: #0969da20;
  --bg-s-2: #e3e9ed;

  --accent-1: #0969da;
  --accent-2: #ffdb0f;

  --border-1: 1px solid var(--bg-s-2);

  --na-color-1: #6f6f6f;
  --na-color-2: #6f6f6f15;

  --cor-color-1: #0b8000;
  --cor-color-2: #0b800015;

  --inc-color-1: #b60000;
  --inc-color-2: #b6000015;

  --rev-color-1: #0041b9;
  --rev-color-2: #0041b915;
}

[data-theme="dark"] {
  --color-1: #e5eaf0;
  --color-2: #8c939c;

  --bg-p-1: #010409;
  --bg-p-2: #151b23;
  --bg-p-3: #212830;

  --bg-s-1: #1f6feb20;
  --bg-s-2: #3d444d;

  --accent-1: #1f6feb;
  --accent-2: #ffdb0f;

  --border-1: 1px solid var(--bg-s-2);

  --na-color-1: #a5a5a5;
  --na-color-2: #a5a5a515;

  --cor-color-1: #0fb900;
  --cor-color-2: #0fb90015;

  --inc-color-1: #ff5050;
  --inc-color-2: #ff505015;

  --rev-color-1: #4485ff;
  --rev-color-2: #4485ff15;
}
