.action-btn {
  cursor: pointer;
  touch-action: manipulation;

  height: 36px;
  width: fit-content;
  min-width: 80px;

  padding: 4px;

  border: var(--border-1);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  background-color: var(--bg-p-2);

  p {
    font: var(--text-1);
  }

  &:hover {
    background-color: var(--bg-p-1);
  }

  &:active {
    border-width: 2px;
    scale: 0.95;
  }

  transition:
    background-color 100ms ease-out,
    border-width 100ms ease-out,
    scale 100ms ease-out;
}

.action-btn.sec {
  border-color: var(--accent-1);

  p {
    color: var(--accent-1);
  }

  &:hover {
    background-color: var(--accent-1);
    p {
      color: var(--bg-p-1);
      font-weight: 400;
    }
  }
}
