#history-table-wrapper {
  flex-grow: 1;
  min-height: 0;
  min-width: 0;

  margin: 24px;
  margin-top: 0;

  border: var(--border-1);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
}

#history-table {
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}

#no-test-message {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-image: radial-gradient(circle, var(--bg-p-2) 0%, transparent 50%);

  .main-icon {
    --size: 36px;
    margin: 16px;
  }

  p {
    font: var(--header-2);
  }
}
