#login-panel-header {
  flex-grow: 1;
  max-height: fit-content;

  padding: 12px;
  margin: 0 6px;

  border: var(--border-1);
  border-radius: 4px;

  display: flex;
  align-items: center;
  gap: 12px;

  background-color: var(--background-p-2);
}

#info {
  flex-grow: 1;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-card {
  display: flex;
  flex-direction: column;

  &:first-child {
    align-items: flex-start;
  }
  &:last-child {
    align-items: flex-end;
  }
}

.label-1 {
  color: var(--color-1);
  font: 400 28px "Inter";
}

.label-2 {
  color: var(--color-1);
  font: 400 18px "Inter";
}

#picture-div {
  height: 100%;
  width: fit-content;

  padding: 0 16px;

  display: flex;
  gap: 16px;
}

.login-img {
  aspect-ratio: 1 / 1.414;
  width: 76px;

  border: var(--border-1);
  border-radius: 4px;

  background-color: var(--background-p-1);
}
