#result-subject-table {
  margin: 0 auto;

  tr {
    .subject-col {
      width: 120px;
    }
    .obtained-col {
      width: 120px;
    }
    .maximum-col {
      width: 120px;
    }
    .percentage-col {
      width: 120px;
    }
  }
}
