#question-panel-header {
  flex-grow: 1;
  height: fit-content;

  overflow: hidden;

  margin: 4px;

  padding: 6px;

  border: var(--border-1);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--background-p-1);
}

#timer {
  color: var(--color-1);
  font: var(--header-2);

  .less span {
    color: var(--inc-color-1) !important;
  }
}
