#info-panel {
  --question-box-size: 44px;

  width: 100%;
  height: fit-content;

  padding: 12px;

  border: var(--border-1);
  border-radius: 4px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /*flex-direction: column;*/
  gap: 12px;
}

.question-info-box {
  height: fit-content;
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 6px;

  > .question-box {
    cursor: default;
  }

  p {
    font: var(--text-1);
  }
}
