#questions-page {
  --unread-color: #afafaf;
  --unanswered-color: #c43003;
  --answered-color: #009113;
  --marked-for-review-color: #381775;
}

#questions-page {
  display: flex;
  flex-direction: column;
}

.dialogue-box {
  height: 100%;
  width: 100%;

  margin: auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background: radial-gradient(circle, var(--bg-p-2), var(--bg-p-1) 40%);

  .dialogue-header {
    font: var(--header-1);
  }
  .dialogue-text {
    font: var(--text-1);
  }
}
