#result-question-table-wrapper {
  width: fit-content;
  min-width: 0;
  max-height: 100%;

  overflow: hidden;

  display: flex;
}

table#result-question-table {
  height: 100%;

  tr {
    .col-s-no {
      justify-content: center;
      width: 54px;
    }
    .col-status {
      width: 130px;
    }
    .col-submitted {
      width: 146px;
    }
    .col-correct {
      width: 124px;
    }
    .col-marks {
      width: 80px;
      &.cor {
        color: var(--cor-color-1);
      }
      &.inc {
        color: var(--inc-color-1);
      }
    }
  }
}
